Lib/*.lib
*Debug*
*Release*
*.sdf
*.suo
*.o
*.lo
Makefile
Makefile.in
.DS_STORE
fyba.pc
.libs
.deps
*.la

aclocal.m4
autom4te.cache
config.*
fyba
m4
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
